.normal {
    font-family: Georgia, sans-serif;
    text-align: center;
}
.title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -1px;
    color: #faa02b;
  }
  .titleRight {
      line-height:33px;
      color:#fff;
      padding-top:.3rem;  
  }
  
  