.title {
  background: #0c0e11 url(../../public/carousel-img/4.gif) no-repeat ;
  background-size:19rem 4rem;
  text-align: center;
}
.titleContents{
  background: #0c0e11 url(../../public/carousel-img/4.gif) no-repeat ;
  background-size:19rem 4rem;
  line-height:1.6rem;
  padding-top:0.1rem;
  text-align: center;
}
.titleContent {
  background: #0c0e11 url(../../public/carousel-img/4.gif) no-repeat;
  background-size:20rem 4rem;
}
.titleRight{
  background: #0c0e11 url(../../public/carousel-img/4.gif) no-repeat ;
  background-size:19rem 4rem;
  line-height:1.5rem;
  padding-top:.3rem;
  text-align: center;
  cursor:pointer;

}

















// .normal {
//     font-family: Georgia, sans-serif;
//     text-align: center;
// }
// .title {
//     font-size: 1rem;
//     font-weight: bold;
//     letter-spacing: -1px;
//     color: #faa02b;
//     background: #07031d url(../../public/carousel-img/4.gif) no-repeat ;
//     background-size:19.1rem 4rem
//   }
//   .titleRight {
//       line-height:33px;
//       color:#fff;
//       padding-top:.3rem;  
//   }
  /* .override-ant-btn {
    :global(.ant-btn) {
      border-radius: 16px;
    }
  } */

  